/* Write your CSS here */
.teamMatch-container {
  width: 90%;
  margin-top: 40px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-matches-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .teamMatch-container {
    margin-top: 56px;
    max-width: 1110px;
  }
}

.RCB {
  background-image: linear-gradient(to top, #1e293b, #a4261d);
}

.KKR {
  background-image: linear-gradient(to top, #1e293b, #5755a7);
}

.KXP {
  background-image: linear-gradient(to top, #1e293b, #d91c1f);
}

.CSK {
  background-image: linear-gradient(to top, #1e293b, #f7db00);
}

.RR {
  background-image: linear-gradient(to top, #1e293b, #da237b);
}

.MI {
  background-image: linear-gradient(to top, #1e293b, #13418b);
}
.SH {
  background-image: linear-gradient(to top, #1e293b, #f26d22);
}
.DC {
  background-image: linear-gradient(to top, #1e293b, #4f5db0);
}
